
.title {
  font-family:Roboto,"Helvetica Neue",sans-serif;
  font-size: 112px;
  color: #ff4081;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #424242;
  color: #ffffff;
  position:absolute;
  bottom:0;
}
