
.title {
  font-family:Roboto,"Helvetica Neue",sans-serif;
  font-size: 112px;
  color: #ff4081;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #424242;
  color: #ffffff;
  position:absolute;
  bottom:0;
}
